# Ignore node_modules directory
node_modules/

# Ignore any npm debug logs
npm-debug.log*

# Ignore yarn-error.log file
yarn-error.log

# Ignore .env files which may contain sensitive information
.env
.env.*
